.App {
  text-align: center;
}

header {
  padding: 30px 70px;
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

hr {
  margin: 0 0 30px 0;
  padding: 0;
}
